[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/fhevm-solidity"]
	path = lib/fhevm-solidity
	url = https://github.com/zama-ai/fhevm-solidity
